@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    box sizing: border-box;
}

body{
    margin: 0;
    font-family: "Open-Sans", sans-serif;
}

header{
    display: flex;
    padding: 3rem;
    margin-bottom: 2rem;
    background-color: black;
    color: white;
}

header h1{
    width:75%;
}

button{
    padding: 1.2rem;
    cursor: pointer;
    margin-right: 1rem;
}

main{
    width: 90%;
    margin:0 auto;
}

#banner{
    width: 700px;
    height: 430px;
    float: left;
    margin-right: 4rem;
    box-shadow:8px 8px 30px 8px black;
    /* h-offset v-offset blur spread color */
}

.autumn{
	background-color:#e09f3e;
	color:#540b0e;
	
	header{
		background-color:#335c67;
		color:#fff3b0;
	}
}
.spring{
	background-color:#c2ebde;
	color:#000;
	
	header{
		background-color:#ffccc7;
		color:#c9b8eb;
	}
}
.summer{
	background-color:#ffd700;
	color:#236e96;
	
	header{
		background-color:#f3872f;
		color:#15b2d3;
	}
}
.winter{
	background-color:#6281dc;
	color:#e0bacf;
	
	header{
		background-color:#1b2d52;
		color:#9fb0e8;
	}
}